<section class="flex-col w-full max-w-full flex-center">
  <div class="p-3 rounded-xl bg-slate-200">
    <form [formGroup]="form">
      <h1 class="text-[32px] mb-4 text-center">Sign In</h1>

      <p [hidden]="loginValid" class="m-2 text-lg text-red-500">
        Invalid login
      </p>
      <div class="flex flex-col gap-3">
        <div class="p-2 mx-5 bg-white rounded-lg">
          <input
            (input)="loginValid = true"
            name="email"
            formControlName="email"
            placeholder="Email"
            type="email"
            class="text-lg"
          />
        </div>
        <div class="p-2 mx-5 bg-white rounded-lg">
          <input
            (input)="loginValid = true"
            name="password"
            formControlName="password"
            placeholder="Password"
            type="password"
            class="text-lg"
          />
        </div>

        <div class="flex-center">
          <button class="w-40 h-10 p-3 m-3 text-lg black_btn" (click)="login()">
            Sign In
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
