<h2 class="ml-9 m-3 text-4xl">Basket</h2>

<div *ngIf="signalrService.userBasket" class="flex ml-3">
  <div class="flex-col p-4 flex rounded-lg gap-3 bg-slate-200 mr-3">
    <div
      *ngFor="let basketItem of signalrService.basketItems"
      class="p-4 flex flex-col rounded-lg gap-1 bg-slate-100"
    >
      <p>
        {{ basketItem.item.name }}
      </p>
      <p>{{ basketItem.item.price }} $</p>

      <button
        class="rounded-full"
        type="button"
        (click)="updateQuantity(basketItem, basketItem.quantity - 1)"
      >
        -
      </button>
      <p>{{ basketItem.quantity }} items</p>

      <button
        class="rounded-full"
        type="button"
        (click)="updateQuantity(basketItem, basketItem.quantity + 1)"
      >
        +
      </button>
      <div class="mt-4">
        <p>{{ basketItem.sumPrice }} $</p>
      </div>
    </div>
    Total Cost
    {{ signalrService.userBasket.totalPrice }} $
  </div>
</div>
