<h2 class="m-3 text-4xl ml-9">Basket</h2>

<div *ngIf="signalrService.userBasket" class="flex ml-3">
  <div class="flex flex-col gap-3 p-4 mr-3 rounded-lg bg-slate-200">
    <div
      *ngFor="let basketItem of signalrService.basketItems"
      class="flex flex-col gap-1 p-4 rounded-lg bg-slate-100"
    >
      <p>
        {{ basketItem.item.name }}
      </p>
      <p>{{ basketItem.item.price }} $</p>

      <button
        class="rounded-full bg-slate-200"
        type="button"
        (click)="updateQuantity(basketItem, basketItem.quantity - 1)"
      >
        -
      </button>
      <p>{{ basketItem.quantity }} items</p>

      <button
        class="rounded-full bg-slate-200"
        type="button"
        (click)="updateQuantity(basketItem, basketItem.quantity + 1)"
      >
        +
      </button>
      <div class="mt-4">
        <p>{{ basketItem.sumPrice }} $</p>
      </div>

      <button
        class="rounded-full bg-slate-200"
        type="button"
        (click)="deleteItem(basketItem.basketItemId)"
      >
        Delete
      </button>
    </div>
    Total Cost
    {{ signalrService.userBasket.totalPrice }} $
  </div>
</div>
