<nav class="flex-between">
  <a [routerLink]="['/']" class="m-2 logo flex-center">
    <img
      src="./logo.svg"
      alt="logo"
      width="{30}"
      height="{30}"
      class="logo_img"
    />
    <p class="logo_text">IFindIt</p>
  </a>

  <div class="flex-col" *ngIf="types">
    <a class="text-xl font-bold link" (click)="toggleTypes()">Browse</a>
    <div *ngIf="typesOpen" class="absolute bg-[#ccc] p-2 rounded-xl gap-1">
      <app-type-dropdown [types]="types"></app-type-dropdown>
    </div>
  </div>

  <a [routerLink]="['/catalog/brands']" class="link">Brands</a>
  <a [routerLink]="['/catalog/vendors']" class="link">Vendors</a>

  <!-- Desktop Navigation -->
  <div class="hidden sm:flex">
    <button type="button" class="black_btn">Sign In</button>
  </div>

  <!-- Mobile  -->
  <div class="relative flex sm:hidden">
    <!-- Dropdown Menu -->
    <button type="button" key="{provider.name}" class="black_btn sm:hidden">
      Sign In
    </button>
  </div>
</nav>
