nav {
  width: 100%;
  padding-top: 0.75rem /* 12px */;
}

.logo {
  display: flex;
  gap: 0.5rem /* 8px */;
}

.logo_img {
  object-fit: contain;
}
.profile_img {
  border-radius: 9999px;
}
.logo_text {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  font-family: Satoshi, sans-serif;
}

.dropdown {
  position: absolute;
  right: 0px;
  top: 100%;
  margin-top: 0.75rem /* 12px */;
  width: 100%;
  padding: 1.25rem /* 20px */;
  border-radius: 0.5rem /* 8px */;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  min-width: 210px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem /* 8px */;
  justify-content: flex-end;
  align-items: center;

  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.dropdown_link {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  font-family: Inter, sans-serif;
}
.dropdown_link:hover {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.flex {
  display: flex;
}

.big_screen {
  position: relative;
  display: flex;
}

.small_screen {
  display: none;
}

.profile_btns {
  display: flex;
  gap: 0.75rem /* 12px */;
}

.link {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  padding-left: 0.75rem/* 12px */;
  padding-right: 0.75rem/* 12px */;
  padding-bottom: 0.2rem;
  border-bottom-width: 2px;
  border-color: transparent;
}

.link:hover {
  --tw-border-opacity: 1;
  border-color: rgb(44 169 188 / var(--tw-border-opacity));
}

@media not all and (min-width: 800px) {
  .big_screen {
    display: none;
  }
  .logo_text {
    display: none;
  }
  .small_screen {
    position: relative;
    display: flex;
  }
}
